@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

// Colors 

$DarkBlue: #383E56;
$Orange: #F69E7B;
$Brown: #D4B5B0;
$LightBrown: #EEDAD1;
$White: #FFFFFF;
$transulecent: #8080809e;


//Font 
$font: 'Karla', sans-serif;
$font-light: 300;
$font-reg: 400;
$font-bold: 700;