@import '../../main.scss';


.about {
    background-color: $LightBrown;
    margin-top: 12rem;


    &__container {
        margin-top: 3rem;
        font-size: $font-body;
        
        @include breakpoint-up('large'){
            margin-top: 6rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            
         
        }
    }

    &__logos {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}


