@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

$LightGreen: #C6EBC9;
$Green: #70AF85;
$LightBrown: #F0E2D0;
$Brown: #AA8976;

$font: 'Josefin Sans', sans-serif;