@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Imprima&display=swap');

$LightGreen: #C6EBC9;
$Green: #70AF85;
$LightBrown: #F0E2D0;
$Brown: #AA8976;

$HeaderFont: 'Cantata One', serif;
$BodyFont: 'Imprima', sans-serif;