@import '../../styles/_abstracts.scss';


.header {

    background-color: $LightGreen;
    width: 100vw;
    height: 50vh;
    

    @include breakpoint-up('large'){
        height: 80vh;
        display: flex;
    }

    &__nav {
        display: none;

        @include breakpoint-up('large'){
            padding-top: 5rem;
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a {
                color: white;
            }

        }
    }


    &__titles {
        position: absolute;
        z-index: 1;
        top: 10%;

        @include breakpoint-up('large'){
            top: 50%;
        }

        h1 {
            background-color: $LightBrown;
            color: $Brown;
            width: 90vw;

            @include breakpoint-up('large'){
                width: 60vw;
            }
        }

        p {
            background-color: $Brown;
            color: white;
            width: 80vw;
            margin-top: -0.5rem;

            @include breakpoint-up('large'){
                width: 50vw;
            }
        }
    }


    &__profile {
        position: absolute;
        max-width: 50vw;
        max-height: 40vh;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        // border-radius: 10px;

        @include breakpoint-up('large'){
            max-width: 45vw;
            max-height: 90vh;
            top: 0%;
            transform: translateX(-5%);
            flex: 1;
        }
    }
}