@import '../../styles/_abstracts.scss';


.header {

    background-color: $LightGreen;
    min-width: 100vw;
    min-height: 50vh;
    

    @include breakpoint-up('large'){
        min-height: 80vh;
        display: flex;
    }

    &__nav {
        display: none;

        @include breakpoint-up('large'){
            padding-top: 5rem;
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            transition: transform 3ms ease-in-out;

            a {
                color: white;
                transition: all 300ms ease-in-out;
                animation: 300ms ease-in-out slideToRight;
            }

            a:hover {
                transition: transform 300ms ease-in-out;
                transform: translateY(10%);
                color: $Green;
            }

        }
    }


    &__titles {
        position: absolute;
        z-index: 1;
        top: 10%;
        // animation: 300ms ease-in-out appearUpwards;

        @include breakpoint-up('large'){
            top: 50%;
        }

        h1 {
            background-color: $LightBrown;
            color: $Brown;
            width: 90vw;
            font-weight: 300;
            box-shadow: 1px 1px 10px 1px #8080806e;

            @include breakpoint-up('large'){
                width: 60vw;
                font-size: 3.75rem;
            }
        }

        p {
            background-color: $Brown;
            color: white;
            width: 80vw;
            margin-top: -0.5rem;
            font-size: 1rem;
            font-weight: 400;

            @include breakpoint-up('large'){
                width: 55vw;
            }
        }
    }


    &__profile {
        position: absolute;
        max-width: 50vw;
        max-height: 40vh;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 1px 1px 10px 1px #8080806e;
       

        @include breakpoint-up('large'){
            max-width: 50vw;
            max-height: 90vh;
            top: 0%;
            transform: translateX(0%);
            flex: 1;
        }
    }
}