@import '../../styles/_abstracts.scss';


.header {

    background-color: $LightGreen;
    width: 100vw;
    height: 50vh;
    

    @include breakpoint-up('large'){
        height: 80vh;
    }

    &__nav {
        display: none;

        @include breakpoint-up('large'){
            padding-top: 5rem;
            min-height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a {
                color: white;
            }

        }
    }
}