@import '../main.scss';


.subheader {
    position: absolute;
    left: 0;
    width: 80%;
    background-color: $DarkBlue;
    color: $White;
    padding: 0.875rem;
    padding-left: 2rem;
    

    @include breakpoint-up('large'){
        width: 50%;
        padding-left: 5rem;
    }

}

