@import '../../styles/abstracts';


.works {
 
    @include breakpoint-up('large'){

        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/arrow-top-desktop.png');
            background-repeat: no-repeat;
            right: 0;
            height: 30rem;
            width: 40rem;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('../../assets/arrow-bottom-desktop.png');
            background-repeat: no-repeat;
            left: 0;
            background-size: 125%;
            background-position: right center;
            height: 32rem;
            width: 38rem;
            margin-top: -15rem;
            z-index: -1
        }
    }  


    &__container {

  
    }


    &__card {

        display: grid;
        

        @include breakpoint-up('medium'){
            grid-template-columns: 1fr 3fr;
        }


        &:not(:last-child){
            margin-bottom: 8rem;
        }



        &:nth-child(2){

            @include breakpoint-up('medium'){
                grid-template-columns: 3fr 1fr;

                .works__text {
                    order: 1;
                    padding-right: 4rem;
                    padding-left: 0;
                    
                }
    
                .works__image {
                    order: 2;
            
                }
            }
           
        }
       
    
    }

    &__image {
      
        height: 15rem;
        background-size: cover;
        background-repeat: no-repeat;   
        background-position: center center;
       
    
        @include breakpoint-up('medium'){
            height: 12rem;
           
        }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: $Brown;
        opacity: 0.5;
        
    }


    &__text {
        align-self: flex-end;

        @include breakpoint-up('medium'){
            padding-left: 4rem;
        }
    }

    hr {
        border: 1px solid $Green;
    }


}