@import '../../styles/abstracts';


.footer {
    margin-top: 10rem;
    background-color: $LightGreen;
    text-align: center;
    

    &__quote {
       
    
        p:first-child {
            margin-bottom: 0;
        }

        p:last-child {
            margin:0;
            font-style: italic;
        }
    }

    &__icons {
        cursor: pointer;
        

        img {
            opacity: 0.8;
            transition: ease-in-out 300ms opacity;
        }

        img:hover {
            opacity: 1;
            transition: ease-in-out 300ms opacity;
        }

        img:not(:last-child){
            margin-right: 1rem;
           
        }
        
    }
}