@import '../../styles/abstracts';


.footer {
    margin-top: 10rem;
    background-color: $LightGreen;
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    &__quote {
        
    
        p:first-child {
            margin-bottom: 0;
        }

        p:last-child {
            margin:0;
            font-style: italic;
        }
    }

    &__icons {
        margin: 0 auto;
        padding: 4rem 0;
       
        cursor: pointer;

        > a {
     
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: black;

            &:hover {
                color: $Green;
            }
        }


        img {
            
            opacity: 0.8;
            transition: ease-in-out 300ms opacity;
        }

        img:hover {
            opacity: 1;
            transition: ease-in-out 300ms opacity;
        }

        img:not(:last-child){
            margin-right: 1rem;
           
        }
        
    }
}