@import '../../main.scss';


.home {
    background-color: $DarkBlue;

    &__container {

        background-color: $DarkBlue;
        min-height: 15rem;

        @include breakpoint-up('large'){
            display: flex;
            min-height: 43rem;
        }

    }

    &__title {
        color: $White;
        text-align: center;

        @include breakpoint-up('large'){
            flex: 1;
            align-self: center;
            text-align: left;
        }

        h1 {
            font-size: 2.125rem;
            
            
            @include breakpoint-up('large'){
                font-size: 6rem;
              
            }
            
        }
        p {
            font-size: 1rem;

            @include breakpoint-up('large'){
                font-size: 1.5rem;
                
            }
        }
    }

    &__image {
        flex: 1;

        @include breakpoint-down('medium'){

            &::after {
                content: '';
                position: absolute;
                background-image: url('../../assets/images/IMG_20201114_153520.jpg');
                width: 223px;
                height: 213px;
                margin-top: 2rem;
                left: 50%;
                transform: translateX(-50%);
                background-size: 100%;
                background-position: 50% 50%;
                border: 8px solid #D4B5B0;
            }
        }

        @include breakpoint-up('large'){

            &::after {
                content: '';
                position: absolute;
                background-image: url('../../assets/images/portfolio-image.png');
                background-size: 104%;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                width: 32.1875rem;
                height: 38.75rem;
                border: 3rem solid #D4B5B0;
                margin-top: 5rem;

            }
        }

    }
}

