@import '../../styles/abstracts';


.icons {

    position: relative;
    min-width: 100vw;
    min-height: 40vh;
    top: 115vh;
    margin-top: 5rem;
    background-color: #F0E2D0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;

    @include breakpoint-up('medium'){
        flex-direction: row;
    }


    &__image {
      
        width: 10rem;
        height: 10rem;
        padding: 1rem;
        background-color: $Green;
        border-radius: 10px;
        margin-bottom: 1rem;
        
    }
}