
@import './main.scss';


html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before,  *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    line-height: 1.3;
    min-height: 100vh;
    overflow-x: hidden;

    &.open {
        overflow-y: hidden;
    }
}

.container {
    max-width: 70rem;
    margin: 0 auto;
   


    &-pt {
        padding-top: 3rem;
    }

    &-pb {
        padding-bottom: 3rem;
    }

    &-ptb {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &-plr {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    &-pall {
        padding: 1.875rem;
    }

}


//links 

a, a:visited, a:hover {
    text-decoration: none;
    
}

h1, h2 {
    margin: 0;
    font-weight: $font-reg;

    @include breakpoint-up('large'){
        font-weight: $font-light;
    }

}

